body {
  background-color: white;
}
h1 {
  color: black;
}
p {
  color:black;
  padding: 1px 10px;
}

form{
  padding: 10px 10px;
  background-color: whitesmoke;
  border-radius: 5px;
  border-color:orangered;
  border-style: solid;
}
input[type=button], input[type=submit] {
  background-color: darkorange;
  border: none;
  color: white;
  padding: 16px 32px;
  text-rendering: optimizeLegibility;
    font-size: 20px;
  margin: 50px 5px;
  cursor: pointer;
  border-radius: 3px;
}

input[type=button], input[type=submit]:hover{
   background-color: gray;
}
