<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>Transgender Law Center: Admin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../css/form.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link
            href="https://fonts.googleapis.com/css?family=PT+Sans"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
            integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
            crossorigin="anonymous"
        />
    </head>

    <body class="admin">
      <div class="page-content">
          <div class="page-header">
              <a
                  href="https://transgenderlawcenter.org/"
                  class="page-header-img"
              ></a>
              <div class="page-header-buttons">
                <a href="../home/">
                  <button class="logout-button" id="page-header-btn-login">
                      EXIT
                  </button>
                </a>
              </div>
          </div>

          <div class="page-main">
            <div class="admin-dash-title">
                Admin Dashboard
            </div>

              <div class="question-wrapper">
                <div class="page-subtitle centerable">
                    Question Editing
                </div>
                <div class="question-inner-wrapper">
                  <div class="question-views-wrapper">
                  {{range .Questions}}
                    <div class="question-box">
                      <div class="question-text">{{.Text}}</div>
                      <div class="answers-box">
                      {{range .Answers}}
                        <div class="answer-text">{{.Text}}</div>
                      {{end}}
                      </div>
                    </div>
                  {{end}}
                  </div>
                  <div class="question-editor-wrapper">
                    <div class="question-editor-box">

                    </div>
                  </div>
                </div>
              </div>

              <div class="question-wrapper">
                <div class="page-subtitle centerable">
                    Admin Users
                </div>
                <div class="question-inner-wrapper">

                </div>
              </div>

              <!-- <div class="page-subtitle centerable">
                  Application Analytics
              </div> -->

          </div>
      </div>
    </body>
</html>
