<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>Transgender Law Center</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../css/form.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link
            href="https://fonts.googleapis.com/css?family=PT+Sans"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
            integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <div class="page-content">
            <div class="page-header">
                <a
                    href="https://transgenderlawcenter.org/"
                    class="page-header-img"
                ></a>
                <div class="page-header-buttons">
                    <a href="https://transgenderlawcenter.org/signup">
                        <button
                            class="page-header-btn"
                            id="page-header-btn-signup"
                        >
                            SIGN UP!
                            <i class="fas fa-envelope"></i>
                        </button>
                    </a>
                    <a href="https://transgenderlawcenter.org/donate">
                        <button
                            class="page-header-btn"
                            id="page-header-btn-donate"
                        >
                            DONATE
                        </button>
                    </a>
                    <button onclick="document.getElementById('modal-login').style.display='block'"
                    class="page-header-btn"
                    id="page-header-btn-login">
                        DASHBOARD
                    </button>
                </div>
            </div>

            <div class="page-main">
                <div class="page-title centerable">
                    Petition form for legal name and/or gender change
                </div>

                <div class="centerable">
                    Transgender Law Center (TLC) and Hack4Impact-UChicago have
                    developed a tool to help you with the process of filling out
                    court forms to petition for a legal name and/or gender
                    change in California. Use this tool to access printable and
                    fillable blank forms, step-by-step instructions for filling
                    out the forms, and sample filled-out forms. Anyone currently
                    living in California can use these forms and directions.
                </div>
                <div class="centerable">
                    For more information about the process of obtaining a name
                    and/or gender change and updating your California and
                    federal identification, please refer to TLC’s guide “ID
                    Please!” available at
                    <a
                        href="https://transgenderlawcenter.org/resources/id/id-please"
                        >https://transgenderlawcenter.org/resources/id/id-please</a
                    >.
                </div>
                <div class="centerable">
                    The information on this site should not be considered legal
                    advice. This site provides you with legal information but
                    does not seek to apply that information to your specific
                    situation.
                </div>
                <div class="centerable">
                    If you have a question about your specific legal situation,
                    feel free to contact Transgender Law Center’s Legal
                    Information Helpline at
                    <a href="www.transgenderlawcenter.org/legalinfo"
                        >www.transgenderlawcenter.org/legalinfo</a
                    >
                    and we’ll do our best to answer your question or point you
                    to resources that may be helpful.
                </div>
                <div class="centerable">
                    Please answer a few questions so we can provide you with
                    resources that will be most relevant to you.
                </div>

                <form class="page-main-form" method="POST" action="../results/">
                    {{range .Questions}}
                      <div class="page-main-form-group">
                      <div class="page-main-form-group-question">{{.Text}}</div>
                      {{if eq .Type "radio"}}
                        {{range .Answers}}
                          <input type="radio" name='{{.QuestionID}}' value='{{.AID}}' id='{{.AID}}'>
                          <label for='{{.AID}}'>{{.Text}}</label>
                        {{end}}
                      {{else if eq .Type "checkbox"}}
                        {{range .Answers}}
                          <input type="checkbox" name='{{.QuestionID}}' value='{{.AID}}' id='{{.AID}}'>
                          <label for='{{.AID}}'>{{.Text}}</label>
                        {{end}}
                      {{else if eq .Type "select"}}
                      <select>
                        {{range .Answers}}
                        <option>{{.Text}}</option>
                        {{end}}
                      </select>
                      {{end}}
                      </div>
                    {{end}}
                    <input type="submit" value="SUBMIT FORM" />
                </form>
            </div>
        </div>

        <div id="modal-login" class="modal">
          <form class="modal-content animate" method="POST" action="../admin/">

            <div class="imgcontainer">
              <span onclick="document.getElementById('modal-login').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>

            <div class="modal-notice">
              <p><span style='color: hsl(30, 100%, 60%);'>Note:</span> This is for Transgender Law Center Admins only - if you are here to use the form service, no need to log in!</p>
            </div>

            <div class="container">
              <label class="modal-label" for="uname"><b>Username</b></label>
              <input class="modal-input" type="text" placeholder="Enter Username" name="uname" required>

              <label class="modal-label" for="psw"><b>Password</b></label>
              <input  class="modal-input" type="password" placeholder="Enter Password" name="psw" required>

              <button class="submit-login" type="submit" name="action" value="Login">Login</button>
              <button class="submit-login submit-create" type="submit" name="action" value="Create">Create Admin</button>
            </div>

          </form>

        </div>
    </body>
</html>
