<!DOCTYPE html>
<html lang="en-us">

<head>
  <title>Transgender Law Center</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--scripts-->
</head>

<body>

  <div>
    <form method="POST" action="../results/" enctype="multipart/form-data">

        <!-- Assuming only 3 types of questions -->
        {{range .Questions}}
        <label>{{.Text}}</label>
          {{if eq .Type "radio"}}
            {{range .Answers}}
              <input type="radio" name='{{.QuestionID}}' value={{.AID}}>{{.Text}}
            {{end}}
          {{else if eq .Type "checkbox"}}
            {{range .Answers}}
              <input type="checkbox" name={{.QuestionID}} value={{.AID}}>{{.Text}}
            {{end}}
          {{else if eq .Type "select"}}
          <select>
            {{range .Answers}}
              <option>{{.Text}}</option>
            {{end}}
          </select>
          {{end}}
        {{end}}

        <!-- Once done with questions, Add in the Submit button -->
        <input type="submit">

    </form>
  </div>

</body>
</html>
